
body{

    font-family: 'Lato', sans-serif;
    background-color:darkgray;
}

h1{

    text-align: center;
    text-shadow: 3px -4px white; 
    font-size: 50px;
    color: black;
    margin: 3%;
    background-color: darkgray;
    border-radius: 5px;

}

section{

    border-radius: 5px;
    background-color: black;
    color:white;
    padding: 3%;
    box-shadow: 3px 3px 8px black;
}
