

section{

    border-radius: 5px;
    background-color: black;
    color:white;
    padding: 3%;
    box-shadow: 3px 3px 8px black;
}

fieldset
{
    padding: 2%;
    margin: 10%;
    
}




#form1{
    
    height: 150px;
    position: relative;
}



#form1 *
{
    margin: 1%;
}

#form1 label{
    margin-right: 0%;
    
}

#form1 div input, select{
   float: right;

}

#form1 [type="submit"]{
   
    position:absolute;
    top: 80%;
    right: 45%;
    width: 15%;
    height: 20%;
 }

 

#cajaTele
{
    float:left;
    width: 40%;
}

#cajaNombre
{
   float:left;
   width: 40%;
}

#cajaCorreo
{
    float:left;
    width: 40%;

}

#cajaCiudad
{
    float:left;
    width: 40%;
    
}

#form2
{
    visibility: visible;
    position:relative;
}

#form2 label{
    display: block;
    margin-bottom: 1%;
}

#form2 [type="radio"]
{
    margin-left: 3%;

}

#form2 [type="button"]
{
    bottom: -10%;
    font-family: 'Lato', sans-serif;
    width: 20%;
    height: 5%;
}


#calificacion{

    position: absolute;
    left: 25%;
}



#botonSoluciones{

    position: absolute;
    left: 55%;
    visibility: hidden;
}

#soluciones{

    height: 15%;



}

/*-----------------RESPONSIVE---------------------*/

@media screen and (max-width: 500px) {

    section{

        border-radius: 5px;
        background-color: blue;
        color:white;
        padding: 3%;
        box-shadow: 3px 3px 8px black;
    }

    #cajaTele
    {
       
        display: inline;
    }

    #cajaNombre
    {
        display: inline;
    }

    #cajaCorreo
    {
        display: inline;

    }

    #cajaCiudad
    {
        display: inline;
        
    }

}