body {
    background-color: darkolivegreen;
    margin: 0%;
}

aside {
    background-color: black;
    width: 4%;
    display: inline-block;
    position: relative;
}

aside p {
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.icono {
    height: 80%;
    width: 80%;
    padding: 7%;
}

nav {
    background-color: black;
    height: 8%;
    width: 93%;
    border-bottom: 1px solid rgb(136, 136, 136);
    color: palevioletred;
    padding-left: 2%;
    display: inline;
}

nav p {
    display: inline;
}