body {
    background-color:darkgray;
    margin: 0%;
    
}

/*---------------------asside---------------------*/
aside {
    background-color: black;
    width: 5%;
    position: absolute;
    top:13.5%;
    height: 82%;
    border-right: 1px solid rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);
    box-shadow: 3px 0px 8px black;
    
}

aside a {
    
    height: 100%;
    display: block;
    padding: 10%;
}

.listaIconos {

    list-style-type:none;
    position: absolute;
    left: -40px;
    top: -15px;
    width: 100%;
    z-index: 1;
}
    
    
    


.listaIconos li{
    border-bottom: 1px solid rgb(136, 136, 136);
    text-decoration: none;
    list-style: none;
    position: relative;
}

.listaIconos ul li{
    display: block;
    border:1px solid rgb(136, 136, 136) ;
    background-color: black;
    color: white;
    margin-left: -90%;
    margin-right: -100%;
    padding:5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    opacity: 0;
    z-index: 2;
    left: 30%
}



.listaIconos ul li:hover{
    color: white;
    margin-left: -100%;
    margin-right: -90%;
    padding:5%;
    background-color: gray;
}

.listaIconos li:hover > ul li{

    visibility:visible;
    transition: all 0.5s linear;
    opacity: 1;
}

.listaIconos li:hover > ul {

    visibility:visible;
    
}


.listaIconos li ul{
    
    
    position: absolute;
    right: -180%;
    top: 10%;
    visibility: hidden;
    width: 150%;
    transition: all 0.5s linear;
    
}

.listaIconos ul  a{
    display: inline;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 100%;
    padding: 0;
    
    
}



/*imagenes del asside*/
.icono {
    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    border:1px solid rgb(136, 136, 136) ;
    border-color: gray;
    background-color: white;
   
}

/*-------------------nav------------------------*/
nav {
    
    
    background: linear-gradient(to right , black, rgb(112, 114, 112));
    height: 12%; 
    width: 99%;
    border-bottom: 1px solid rgb(136, 136, 136);
    position: absolute;
    padding: 5px;
    box-shadow: 0px 3px 8px black;
    z-index: 1;
}

#tituloNav {
    color: white;
    text-align: center;
    text-shadow: 15px 10px 2px black;
    font-size: 20px;
}


/*---------------------------footer---------------------------*/
footer{

    position: absolute;
    background: linear-gradient(to right , black, rgb(112, 114, 112));
    height: 10%; 
    width: 100%;
    bottom: -1%;
    border-top: 1px solid rgb(136, 136, 136);
    box-shadow: 0px -3px 8px black;
}

footer p, a{
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 0.80em;
}

/*-----------------------------embed----------------------------*/

embed{
    position: absolute;
    top: 60px;
    left: 6%;
    width: 93%;
    height: 85%;
    z-index: 0;
    border-radius: 30px;
}

/*-----------------RESPONSIVE---------------------*/


@media screen and (max-width: 500px) {

    nav, footer{
        display: none;       
    }
    
    embed{
        top: 1%;
        left: 0px;
        width: 100%;
        height: 98%;
        border-radius: 0px;
    }
    
    aside{
        left: -3%;
        top: 30%;
        height: 13.1%;
        z-index: 1;
        transition: all 0.5s linear;
    }

  aside:hover{
        left: 0%;
    }




}


@media screen and (max-height: 466px) {

         footer{
            position: absolute;
            background: linear-gradient(to right , rgb(136, 136, 136));
            height: 10%; 
            width: 99%;
            bottom: 0%;
            border-top: 1px solid rgb(136, 136, 136);
            box-shadow: 0px -3px 8px black;
            display: none;
         }

        nav {
            background: linear-gradient(to right , black, rgb(136, 136, 136));
            height: 15%; 
            width: 98%;
            border-bottom: 1px solid rgb(136, 136, 136); 
            position: absolute;
            padding: 5px;
            box-shadow: 0px 3px 8px black;
            z-index: 1;
        }
        
        .listaIconos li ul{
            position: absolute;
            right: -200%;
            top: 10%;
            visibility: hidden;
            width: 150%;
            transition: all 0.5s linear;
            height: -100%;
            
        }
    
        aside {
            background-color: black;
            width: 5%;
            position: absolute;
            top:17.5%;
            height: 106%;
            border-right: 1px solid rgb(136, 136, 136);
            border-bottom: 1px solid rgb(136, 136, 136);
            box-shadow: 3px 0px 8px black;
            
        }

        embed{
            position: absolute;
            top: 60px;
            left: 6%;
            width: 93%;
            height: 110%;
            z-index: 0;
            border-radius: 30px;
        }
    
        #tituloNav {
            color:white;
            text-shadow: 15px 10px 2px black;
            font-size: 20px;
        }
    
    }